{
  "apiEndpoint": "{{ getenv "APP_API_ENDPOINT" "" }}",
  "authenticationEndpoint": "{{ getenv "APP_API_AUTHENTICATION_ENDPOINT" "/v2/authentication/token" }}",
  "authenticationRefreshTokenEndpoint": "{{ getenv "APP_API_AUTHENTICATION_REFRESH_ENDPOINT" "/v2/authentication/token/refresh" }}",
  "loginCheckTimeout": {{ getenv "APP_LOGIN_CHECK_TIMEOUT" "20000" }},
  "configFetchInterval": {{ getenv "APP_CONFIG_FETCH_INTERVAL" "900000" }},
  "refreshTokenTimeout": {{ getenv "APP_REFRESH_TOKEN_TIMEOUT" "900000" }},
  "releaseTimestampIntervalTimeout": {{ getenv "APP_RELEASE_TIMESTAMP_INTERVAL_TIMEOUT" "600000" }},
  "dataStrategy": {
    "type": "pull",
    "config": {
      "interval": {{ getenv "APP_DATA_PULL_INTERVAL" "30000" }},
      "endpoint": "{{ getenv "APP_API_PATH" "" }}"
    }
  },
  "colorScheme": {
    "type": "library",
    "lat": {{ getenv "APP_CLIENT_LATITUDE" "56.0" }},
    "lng": {{ getenv "APP_CLIENT_LONGITUDE" "10.0" }}
  },
  "schedulingInterval": {{ getenv "APP_SCHEDULING_INTERVAL" "60000" }},
  "debug": {{ getenv "APP_DEBUG" "false" }}
}
