@use "../variables.scss";

.rss-slide {
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100%;
  position: relative;
  background-color: var(--bg-light);

  @mixin text($font-size) {
    .progress {
      padding: 2%;
      font-size: 1em * $font-size;
      color: var(--text-primary);
    }

    .title {
      font-size: 2.5em * $font-size;
      padding: 1% 2%;
      color: var(--text-dark);
      line-height: 1.1;
    }

    .date {
      font-size: 1em * $font-size;
      padding: 1% 2%;
      color: var(--text-primary);
    }
    .description {
      font-size: 1.5em * $font-size;
      padding: 1% 2%;
      color: var(--text-dark);
      a,
      a:link,
      a:visited,
      a:hover,
      a:focus,
      a:active {
        text-decoration: none;
        color: var(--text-dark);
      }
    }
  }

  &.s {
    @include text(1);
  }
  &.m {
    @include text(2);
  }
  &.l {
    @include text(3);
  }
  &.xl {
    @include text(3.5);
  }
}
