$padding: 2%;
$font-border-color: #fff;
$background-color: #444;

@mixin grid-item($title: false, $text-align: start) {
  color: $font-border-color;
  padding: $padding 0;
  font-size: 2em;
  text-align: $text-align;

  // Title does not have borders.
  @if not $title {
    border-bottom: 1px solid $font-border-color;
    border-right: 0px;

    // Remove padding and border left on first element in grid.
    @for $i from 1 through 2 {
      &:nth-last-of-type(3n+#{$i}) {
        border-left: 1px solid $font-border-color;
        padding-left: 2%;
      }
  }

    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        // Remove border-top from the first elements.
        border-top: 0px;
      }
    }
  }
}

.template-calendar {
  height: 100%;
  background-color: $background-color;

  .grid-container-title-date {
    display: grid;
    grid-template-columns: auto auto;
    padding: $padding;

    .grid-item {
      @include grid-item($title: true);
    }

    .grid-item-end {
      @include grid-item($title: true, $text-align: end);
    }
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: $padding;

    .grid-item {
      @include grid-item();
    }
  }
}
