{
  "authenticationEndpoint": "{{ getenv "APP_API_AUTHENTICATION_ENDPOINT" "/v1/authentication/token" }}",
  "authenticationRefreshTokenEndpoint": "{{ getenv "APP_API_AUTHENTICATION_REFRESH_ENDPOINT" "/v1/authentication/token/refresh" }}",
  "dataStrategy": {
    "type": "pull",
    "config": {
      "interval": {{ getenv "APP_DATA_PULL_INTERVAL" "30000" }},
      "endpoint": "{{ getenv "APP_API_PATH" "/" }}"
    }
  },
  "schedulingInterval": {{ getenv "APP_SCHEDULING_INTERVAL" "60000" }},
  "debug": {{ getenv "APP_DEBUG" "false" }}
}
