@use "../variables.scss";

.template-poster {
  height: 100%;
  display: grid;
  grid-template-columns: 66.666% 33.334%;
  grid-template-rows: 55% 45%;
  grid-template-areas:
    "a b"
    "a c";
  grid-gap: 0;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  background-color: var(--bg-dark);

  .image-area {
    grid-area: a;
    background-size: cover;
    background-position: center center;
  }
  .header-area {
    grid-area: b;
    display: grid;
    padding: 5%;
    background-color: var(--bg-light);
    color: var(--text-dark);
    .center {
      align-self: center;
    }

    .lead {
      font-size: 1em;
      font-weight: bold;
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }
  .info-area {
    grid-area: c;
    font-size: var(--font-size-base);
    padding: 5%;
    background-color: var(--bg-primary);
    color: var(--text-dark);
    .ticket,
    .date,
    .time,
    .place {
      margin-block-start: 0;
      margin-block-end: 2/2;
    }
    .moreinfo {
      margin-block-start: 2 * 5;

      span {
        font-weight: bold;
      }
    }
  }
  &.portrait {
    grid-template-columns: 55% 45%;
    grid-template-rows: 65% 35%;
    grid-template-areas:
      "a a"
      "b c";
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
