.slideshow {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: black;

    .image {
      position: absolute;
      background-size: cover;
      background-position: center;
      display: block;
      width: 100%;
      height: 100%;

      }

  .logo {
    position: absolute;
    width: 10%;
    padding: 2%;

    &.right {
      right: 0px;
    }

    &.bottom {
      bottom: 0px;
    }

    &.xs {
      width: 5%;
    }
    &.s {
      width: 10%;
    }
    &.m {
      width: 15%;
    }
    &.l {
      width: 20%;
    }
    &.xl {
      width: 40%;
    }
  }
}







