$color-shadow: rgba(0, 0, 0, 0.26);
$shadow-box: 0 4px 16px $color-shadow;

.template-image-text {
  height: 100%;
  width: 100%;
  overflow: hidden;

  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;

  .box {
    padding: 2%;
    order: 0;
    flex: 1 0 auto;
    align-self: auto;
    background-color: beige;
    color: black;
    width: 40%;

    &.s {
      font-size: 10px;
    }
    &.m {
      font-size: 15px;
    }
    &.l {
      font-size: 20px;
    }
    &.xl {
      font-size: 25px;
    }

    h1 {
      margin-top: 0;
    }
  }

  &.box-margin {
    .box {
      margin: 5%;
    }
  }

  &.flex-end {
    .box {
      align-self: flex-end;
    }
  }

  &.column {
    flex-direction: column;
  }
  &.half-size {
    .box {
      box-shadow: $shadow-box;
      flex: none;
    }
  }

  &.animated-header {
    .box {
      box-shadow: $shadow-box;
      display: flex;
      flex-direction: column;
    }
    h1 {
      position: relative;
      display: inline-block;
      padding-bottom: 2%;

      .separator {
        opacity: 0;
        position: absolute;
        height: 0.2em;
        width: 100%;
        transition: width 0.3s ease-out;
        animation: 0.7s normal 0.5s forwards 1 h1-underline ease-out;
      }
    }
  }

  &.reversed {
    display: flex;

    .text {
      order: 1;
    }

    .box {
      flex-direction: column;
      padding: 0;
      height: 90%;
      justify-content: space-between;
      background-color: transparent;
      font-size: 2em;
      display: flex;
    }

    h1 {
      order: 2;
      font-size: 3em;
    }
  }
}

@keyframes h1-underline {
  0% {
    opacity: 0;
    width: 100%;
  }
  40% {
    opacity: 1;
    width: 100%;
    margin-top: 0.938em;
    height: 0.375em;
  }
  70% {
    opacity: 1;
    width: 100%;
    margin-top: 0.625em;
    height: 0.2em;
  }
  100% {
    opacity: 1;
    width: 5em;
    margin-top: 0.625em;
  }
}
