body {
  height: 100%;
  width: 100%;
  margin: 0;
  bottom: 0;
  position: absolute;
  background-color: black;
}

.root {
  height: 100%;
  width: 100%;
  margin: 0;
  bottom: 0;
}

.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
