body {
  height: 100%;
  width: 100%;
  margin: 0;
  bottom: 0;
  position: absolute;
  background-color: black;
}

.root {
  height: 100%;
  width: 100%;
  margin: 0;
  bottom: 0;
}

.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.BindKey {
  height: 100%;
  width: 100%;
  flex-direction: column;
  color: white;
  display: flex;
  align-items: center;
  justify-items: center;

  &--Header {
    flex: auto;
    margin: 1em;
    max-width: 800px;
    text-align: center;
  }

  &--Key {
    flex: auto;
  }
}
