.debug-bar {
  background: khaki;
  height: 50px;
  padding: 5px;
}

.debug-bar-header {
  font-weight: bold;
}

.debug-bar-content {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
}

.debug-bar-button {
  margin: 5px;
}

.debug-bar-toggle-button {
  margin: 5px;
}
