.debug-bar {
  background: khaki;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 5px;
  position: fixed;
}

.debug-bar-header {
  font-weight: bold;
}

.debug-bar-content {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
}

.debug-bar-button {
  margin: 5px;
}
