.Region {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.Slide-enter {
  opacity: 0;
}
.Slide-enter-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}
.Slide-exit {
  opacity: 1;
}
.Slide-exit-active {
  opacity: 0;
  transition: opacity 1000ms linear;
}
