.RegionErrorBoundary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .ErrorBox {
    border: 1px solid #ff8888;
    background-color: #ff2d2d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}
